#header {
  background-image: url("../images/rhema-kallianpur-uocSnWMhnAs-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 750px;
  width: 100vw;
}


.header-text {
  color: whie;
  padding: 200px 10% 50px 10%; 
  width: 1000px;
  max-width: 100%;
}

h1 {
  color: white;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 85px;
  line-height: 117.3%;
  margin-bottom: 30px;
}

header p {
  color: white;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 128.3%;
  width: 600px;
  max-width: 100%;
}


main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 60px 10%;
  justify-content: space-between;
}

.text-container {
  width: 30%;
  margin-right: 60px;
}

.text-container .contact {
  color: #505050;
  font-family: "Playfair Display";
  font-size: 2rem;
  padding-bottom: 20px;
}

.text-container p {
  color: #505050;
  font-size: 0.97rem;
  line-height: 1.7;
  margin-bottom: 20px;
  font-family: Inter;
}

.text-bold {
  font-weight: 800;
}

h5 {
  color: #505050;
  font-size: 1rem;
  font-family: Inter;
  letter-spacing: 1px;
  font-weight: 500;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 100%;
}

.subject-container, .message-container {
  margin-bottom: 25px;
}

.subject, .contact-info, .message {
  margin-bottom: 12px;
}

.subject-buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.subject-btn {
  border: 0.1px solid #8A8A8A;
  padding: 10px 20px;
  background-color: #fff;
  font-family: Inter;
  border-radius: 5px;
  color: #8A8A8A;
  margin: 5px;
}



.subject-btn:focus {
  outline: none;
  color: white;
  background-color: #8A8A8A;
}


.information-container > div {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.information-container input {
  width: 290px;
  max-width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 0.1px solid #8A8A8A;
}

.message-text {
  width: 100%;
  padding: 10px;
}

.send-btn {
  width: 120px;
  padding: 10px;
  border-radius: 5px;
  background-color: #339AF9;
  color: #fff;
  text-transform: capitalize;
  border: none;

}

.send-btn:hover {
  background-color: rgb(59, 122, 182);
}

@media (max-width: 1160px) {
  .form-container {
    width: 400px;
  }

  .information-container input {
    width: 100%;
  }

  .information-container input:nth-of-type(1) {
    margin-bottom: 20px;
  }

}

@media (max-width: 825px) {
  .text-container {
    width: 100%;
    margin-bottom: 40px;
  }

  .form-container {
    width: 100%;
  }
}


