#header {
  background-image: url("../images/rhema-kallianpur-uocSnWMhnAs-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 750px;
  width: 100vw;
}


.header-text {
  color: whie;
  padding: 200px 10% 50px 10%; 
  width: 1000px;
  max-width: 100%;
}

h1 {
  color: white;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 85px;
  line-height: 117.3%;
  margin-bottom: 30px;
}

header p {
  color: white;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 128.3%;
  width: 700px;
  max-width: 100%;
}



@media (max-width: 500px) {
  h1 {
    font-size: 4rem;
    margin-bottom: 30px;
  }
}