#header {
  background-image: url("../images/rhema-kallianpur-uocSnWMhnAs-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 750px;
  width: 100vw;
}


.header-text {
  color: whie;
  padding: 200px 10% 50px 10%; 
  width: 1000px;
  max-width: 100%;
}

h1 {
  color: white;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 85px;
  line-height: 117.3%;
  margin-bottom: 30px;
}

header p {
  color: white;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 128.3%;
  width: 700px;
  max-width: 100%;
}



@media (max-width: 500px) {
  h1 {
    font-size: 4rem;
    margin-bottom: 30px;
  }
}


/*------------------------Facilities --------------- */
main .facilities{
  padding: 1.1rem 6rem;
}

main .facilities .container .title h3{
  text-transform: uppercase;
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
  color: #000000 !important;
  font-weight: bold;
  margin-bottom: 1%;
}

main .facilities .title p{
  width: 30%;
  color: #c0c0c0;
}

main .facilities .facility-content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: .5rem 0;
}

.facility-image{
  width: 100%;
  position: relative;
  
}

.facility-image img{
  width: 100%;
}


.facility-image .img-title{
  position: absolute;
  margin-top: -4rem;
  color: #ffffff;
  text-align: center !important;
  width: 100%;
  z-index: 4;
}

/*           Viewport less then or equal to 1130px            */

@media only screen and (max-width: 1130px){
  main .facilities .facility-content{
      grid-template-columns: repeat(3, 1fr);
  }

  main .facilities .title p{
    width: 40%;
  }

}
/*      x       Viewport less then or equal to 1130px    x     */

/*              Viewport less then or equal to 750px            */

@media only screen and (max-width: 750px){
  main .facilities .facility-content{
    grid-template-columns: repeat(2, 1fr);
  }

  main .facilities .title p{
    width: 100%;
  }
}

/*        x      Viewport less then or equal to 750px       x     */

/*              Viewport less then or equal to 520px            */

@media only screen and (max-width: 520px){
  main .facilities .facility-content{
    grid-template-columns: repeat(1, 1fr);
  }
  
  main .facilities .title p{
    width: 100%;
  }
}

/*        x      Viewport less then or equal to 520px       x     */