#header {
  background-image: url("../images/rhema-kallianpur-uocSnWMhnAs-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 750px;
  width: 100vw;
}


.header-text {
  color: whie;
  padding: 200px 10% 50px 10%; 
  width: 800px;
  max-width: 100%;
}

h1 {
  color: white;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 85px;
  line-height: 117.3%;
  margin-bottom: 30px;
}

header p {
  color: white;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 128.3%;
  width: 350px;
  max-width: 100%;
}

.first-section {
  margin-left: 10%;
  margin-right: 6%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 150px;
  padding-bottom: 100px;
  margin-bottom: 50px;
  max-width: 100%;
}

.images-container {
  position: relative;
}

.section-image {
  position: absolute;
  width: 250px;
  height: 300px;
}

#third-pic {
  left: 200px;
  top: 70px;
}

#first-pic {
  left: 40px;
  top: 200px;
  height: 200px;
}

#second-pic {
  z-index: -100;
}

.first-section-text {
  width: 30%;
  margin-right: 150px;
}

#bubble {
  z-index: -99999;
  top: -70px;
  height: 200px;
  left: 180px;
  width: 150px;
}

.first-section h3, .third-section h3 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 128.3%;
  color: #60B2FE;
  text-transform: uppercase;
}

#first-section-blue, #third-section-blue {
  color: #60B2FE;
}

.first-section p {
  margin-bottom: 30px;
  color: #8A8A8A;
  font-family: 'Inter', sans-serif;
  line-height: 2;

}

.first-section button {
  background: #339AF9;
  border-radius: 5px;
  color: #fff;
  padding: 15px 30px;
  border: none;
  font-weight: lighter;
  font-size: 10px;
  letter-spacing: 0.8px;
  font-family: 'Inter', sans-serif;
}

.second-section {
  position: relative;
  text-align: center;
  color: white;
}

.second-section img {
  width: 100%;
  height: 300px;
}

.second-section div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  max-width: 100%;
} 

.second-section h3 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 161.3%;
  padding-bottom: 20px;
}

.second-section button {
  background: #339AF9;
  border-radius: 5px;
  color: #fff;
  padding: 10px 25px;
  border: none;
  font-weight: lighter;
  font-size: 10px;
  letter-spacing: 0.8px;
  font-family: 'Inter', sans-serif;
  padding: 15px 30px;
}

.second-section button:hover, .first-section button:hover {
  background: rgb(31, 138, 238);
}

.third-section {
  margin-left: 10%;
  margin-right: 6%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.third-section h3 {
  /* margin-top: -100px; */
}

.third-section-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 80px;
}

.quote {
  color: #8A8A8A;
  font-family: 'Inter', sans-serif;
  font-size: 0.7rem;
  line-height: 2;
}

.third-section-blue {
  margin-bottom: 80px;

}

.third-section-text {
  width: 300px
}

.quote p {
  margin-bottom: 16px;
}

.quote .span-wrapper {
  display: flex;
  align-items: center;
}

.span-wrapper span {
  margin-right: 10px;
}

.third-section-image-container {
  position: relative;
  width: 400px;
  margin-top: -130px;
  max-width: 100%;
}

.third-section-image-container img {
  height: 300px;
  width: 300px;
  position: absolute;
  max-width: 100%;
}

.third-section-image-container img:first-of-type {
  z-index: 10000;
}

.third-section-image-container img:nth-of-type(2) {
  height: 200px;
  width: 200px;
  left: 100px;
}

#third-section-blue {
  margin-bottom: 70px;
}

.arrows {
  width: 100px;
  border-radius: 5px;
  display: flex;
  height: 50px;
  border: 1px solid #339AF9;
}

.left-arrow-container {
  border: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #339AF9;
}

.right-arrow-container {
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-arrow-container:hover, .right-arrow-container:hover {
  background-color: rgb(165, 208, 248);
}

.left-arrow-container:focus, .right-arrow-container:focus {
  border: none;
  outline: none;
}


@media (max-width: 930px) {
  .section-image {
    position: absolute;
    width: 170px;
    height: 300px;
  }
}

@media (max-width: 840px) {
  .third-section-image-container {
    display: block;
    margin-top: 0;
    position: static;
  }
  
  .third-section-image-container img {
    height: 300px;
    width: 300px;
    max-width: 100%;
    position: static;
  }
  
  .third-section-image-container img:first-of-type {
    z-index: 10000;
  }
  
  .third-section-image-container img:nth-of-type(2) {
   display: none;
  }

  .images-container {
    display: none;
  }

  .first-section-text {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 2.4rem;
    margin-bottom: 30px;
  }

  .first-section h3, .third-section h3 {
    font-size: 2.1rem;
  }

  #third-section-blue {
    margin-bottom: 20px;
  }
}
